In [184]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 20

# Labeling Data with Keywords

In [185]:
# Load the transaction data
df = pd.read_csv('data/transactions.csv')
df.shape

In [186]:
# Find the most popular words
words = [w.lower() for s in df.message for w in s.split(' ')]

popularities = pd.DataFrame(words, columns=['word']) \
    .groupby('word') \
    .size() \
    .sort_values(ascending=False)

In [187]:
# Load keyword labels and make function for classifying message
labels = pd.read_csv('data/categoryLabels.csv')

words = {
    "Food": set(),
    "Drugs": set(),
    "Sex": set(),
    "Drinks": set(),
    "Transportation": set(),
}

for _, row in labels.iterrows():
    words[row["category"]].add(row['word'])

In [188]:
# Categorize all the transactions
def classify(message):
    message = message.lower()
    for category, wordSet in words.items():
        for word in wordSet:
            if word in message:
                return category
    return "Other"

df['category'] = df['message'].apply(classify)
df

,Id,created_time,from,to,message,type,payment_id,permalink,via,story_id,updated_time,audience,category
0,515115d725ee44b9aba31aab,2013-03-26 03:22:10,183704,155000,for pledge dues and hoodie,payment,1.382557e+06,/story/515115d725ee44b9aba31aab,NaN,515115d725ee44b9aba31aab,2013-03-26 03:22:10,public,Other
1,51606b6125ee44b9abf4ae1e,2013-04-06 18:30:44,183704,248062,Color wars,payment,1.459251e+06,/story/51606b6125ee44b9abf4ae1e,NaN,51606b6125ee44b9abf4ae1e,2013-04-06 18:30:44,public,Other
2,5173279b25ee44b9ab575397,2013-04-20 23:34:08,250368,183704,Dim sum!,payment,1.557791e+06,/story/5173279b25ee44b9ab575397,NaN,5173279b25ee44b9ab575397,2013-04-20 23:34:08,public,Food
3,5174582e25ee44b9ab5c4c6f,2013-04-21 21:13:36,183704,182500,Pre-formal byo!,payment,1.563948e+06,/story/5174582e25ee44b9ab5c4c6f,NaN,5174582e25ee44b9ab5c4c6f,2013-04-21 21:13:36,public,Other
4,5176aad725ee44b9ab6bf3ea,2013-04-23 15:30:46,275893,278014,for Pledge Dues,charge,1.576229e+06,/story/5176aad725ee44b9ab6bf3ea,NaN,5176aad725ee44b9ab6bf3ea,2013-04-23 15:30:46,public,Other
5,517825ed25ee44b9ab769224,2013-04-24 18:28:12,183704,161998,Popsicle!,payment,1.584621e+06,/story/517825ed25ee44b9ab769224,NaN,517825ed25ee44b9ab769224,2013-04-24 18:28:12,public,Other
6,518329ff25ee44b9abb6241a,2013-05-03 03:00:09,285567,289630,Ironman,payment,1.659206e+06,/story/518329ff25ee44b9abb6241a,NaN,518329ff25ee44b9abb6241a,2013-05-03 03:00:09,public,Other
7,518ef87f25ee44b9abfd6e7b,2013-05-12 01:55:54,220674,183704,Couch 4 üè†,payment,1.737773e+06,/story/518ef87f25ee44b9abfd6e7b,NaN,518ef87f25ee44b9abfd6e7b,2013-05-12 01:55:54,public,Other
8,518ef9aa25ee44b9abfd7538,2013-05-12 02:00:52,183704,183368,for living room couch,payment,1.737832e+06,/story/518ef9aa25ee44b9abfd7538,NaN,518ef9aa25ee44b9abfd7538,2013-05-12 02:00:52,public,Other
9,5196f22625ee44b9ab2cbded,2013-05-18 03:06:43,272005,278014,Sailer hat,charge,1.786539e+06,/story/5196f22625ee44b9ab2cbded,NaN,5196f22625ee44b9ab2cbded,2013-05-18 03:06:43,public,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381603,5be8efcae1f606dc2ff6d13c,2018-11-12 03:13:14,2046893,6704622,üßü‚Äç‚ôÇÔ∏è,payment,1.387663e+09,/story/5be8efcae1f606dc2ff6d13c,NaN,5be8efcae1f606dc2ff6d13c,2018-11-12 03:13:14,public,Other
381604,5be8f3c4e1f606dc2fb4045e,2018-11-12 03:30:12,6677616,5811745,Kong,charge,NaN,NaN,NaN,5be8f3c4e1f606dc2fb4045e,2018-11-12 03:30:12,friends,Food
381605,5be8f3cce1f606dc2fb57d68,2018-11-12 03:30:20,29024238,6842200,Fg hangout foodz,charge,1.387704e+09,/story/5be8f3cce1f606dc2fb57d68,NaN,5be8f3cce1f606dc2fb57d68,2018-11-12 04:03:38,public,Food
381606,5be8f49be1f606dc2fda6b7d,2018-11-12 03:33:47,25930935,25906940,üíñüå∫üå∏üå∑@shoppoinsettia.com !!!,payment,1.387712e+09,/story/5be8f49be1f606dc2fda6b7d,NaN,5be8f49be1f606dc2fda6b7d,2018-11-12 03:41:26,public,Other
381607,5be8f931e1f606dc2fa83934,2018-11-12 03:53:21,7695446,4097732,that good good reimbursment,payment,1.387755e+09,/story/5be8f931e1f606dc2fa83934,NaN,5be8f931e1f606dc2fa83934,2018-11-12 03:53:21,public,Other
381608,5be8f953e1f606dc2fae0b50,2018-11-12 03:53:55,15474739,6704622,Phood,payment,1.387756e+09,/story/5be8f953e1f606dc2fae0b50,NaN,5be8f953e1f606dc2fae0b50,2018-11-12 03:53:55,public,Food
381609,5be8fe83e1f606dc2f887ea2,2018-11-12 04:16:03,25782745,27194869,Yerp,payment,1.387801e+09,/story/5be8fe83e1f606dc2f887ea2,NaN,5be8fe83e1f606dc2f887ea2,2018-11-12 04:16:03,public,Other
381610,5be8fea4e1f606dc2f8e0162,2018-11-12 04:16:36,25782745,15930165,det finns mycket att g√∂ra i Harvard,payment,1.387802e+09,/story/5be8fea4e1f606dc2f8e0162,NaN,5be8fea4e1f606dc2f8e0162,2018-11-12 04:16:36,public,Other
381611,5be904f0e1f606dc2f8e91a4,2018-11-12 04:43:28,597686,285567,Ur all‚Äôs food,charge,1.387879e+09,/story/5be904f0e1f606dc2f8e91a4,NaN,5be904f0e1f606dc2f8e91a4,2018-11-12 04:43:28,public,Food
381612,5be90e2fe1f606dc2fd2ae84,2018-11-12 05:22:55,27573445,8679512,üëï,payment,1.387988e+09,/story/5be90e2fe1f606dc2fd2ae84,NaN,5be90e2fe1f606dc2fd2ae84,2018-11-12 05:22:55,public,Other

In [189]:
# Show the normalized percentages
total_transactions = len(df['category'])
normalize = lambda x : x/total_transactions

pie = df['category'].value_counts().apply(normalize)
pie

Other             0.610930
Food              0.218554
Transportation    0.084651
Drinks            0.043025
Sex               0.030471
Drugs             0.012369
Name: category, dtype: float64

In [190]:
# Write the results to a csv
df.to_csv("data/labeledTransactions.csv")

# Everything Below Here Gives Bad Results. Ignore it.

# SK-Learn Model

In [191]:
# Load Training Data
data_labeled = pd.read_csv("data/labeledTransactions.csv")
data_labeled = data_labeled[pd.notnull(data_labeled['category'])]
data_labeled.shape

(381613, 14)

In [195]:
# Count the labeled dataset
labeled_count = data_labeled.shape[0]

# Randomly split into training and target
df = pd.DataFrame(np.random.randn(labeled_count, 2))
msk = np.random.rand(len(df)) < 0.8

data_train = data_labeled[msk]
data_test = data_labeled[~msk]

In [196]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import GridSearchCV

# Create the model
text_clf = Pipeline([('vect', CountVectorizer()),
                     ('tfidf', TfidfTransformer()),
                     ('clf', SGDClassifier(loss='hinge', penalty='l2',
                                           alpha=1e-3, random_state=42,
                                           max_iter=5, tol=None)),
                    ])

# Grid search
parameters = {'vect__ngram_range': [(1, 1), (1, 2)],
              'tfidf__use_idf': (True, False),
              'clf__alpha': (1e-2, 1e-3),
}
gs_clf = GridSearchCV(text_clf, parameters, cv=5, iid=False, n_jobs=-1)

# Train the model
gs_clf = gs_clf.fit(data_train["message"], data_train["category"])

In [197]:
# Evaluate the model
predicted = gs_clf.predict(data_test["message"])
np.mean(predicted == data_test["category"])  

# I've been getting around 73%

0.71271643040225974

# Label Dataset

In [199]:
# Label original data
df = pd.read_csv('data/transactions.csv')
categories = gs_clf.predict(df["message"])

print(len(categories))
print(len(df))

df['category'] = categories

df

381613
381613

,Id,created_time,from,to,message,type,payment_id,permalink,via,story_id,updated_time,audience,category
0,515115d725ee44b9aba31aab,2013-03-26 03:22:10,183704,155000,for pledge dues and hoodie,payment,1.382557e+06,/story/515115d725ee44b9aba31aab,NaN,515115d725ee44b9aba31aab,2013-03-26 03:22:10,public,Other
1,51606b6125ee44b9abf4ae1e,2013-04-06 18:30:44,183704,248062,Color wars,payment,1.459251e+06,/story/51606b6125ee44b9abf4ae1e,NaN,51606b6125ee44b9abf4ae1e,2013-04-06 18:30:44,public,Other
2,5173279b25ee44b9ab575397,2013-04-20 23:34:08,250368,183704,Dim sum!,payment,1.557791e+06,/story/5173279b25ee44b9ab575397,NaN,5173279b25ee44b9ab575397,2013-04-20 23:34:08,public,Food
3,5174582e25ee44b9ab5c4c6f,2013-04-21 21:13:36,183704,182500,Pre-formal byo!,payment,1.563948e+06,/story/5174582e25ee44b9ab5c4c6f,NaN,5174582e25ee44b9ab5c4c6f,2013-04-21 21:13:36,public,Other
4,5176aad725ee44b9ab6bf3ea,2013-04-23 15:30:46,275893,278014,for Pledge Dues,charge,1.576229e+06,/story/5176aad725ee44b9ab6bf3ea,NaN,5176aad725ee44b9ab6bf3ea,2013-04-23 15:30:46,public,Other
5,517825ed25ee44b9ab769224,2013-04-24 18:28:12,183704,161998,Popsicle!,payment,1.584621e+06,/story/517825ed25ee44b9ab769224,NaN,517825ed25ee44b9ab769224,2013-04-24 18:28:12,public,Other
6,518329ff25ee44b9abb6241a,2013-05-03 03:00:09,285567,289630,Ironman,payment,1.659206e+06,/story/518329ff25ee44b9abb6241a,NaN,518329ff25ee44b9abb6241a,2013-05-03 03:00:09,public,Other
7,518ef87f25ee44b9abfd6e7b,2013-05-12 01:55:54,220674,183704,Couch 4 üè†,payment,1.737773e+06,/story/518ef87f25ee44b9abfd6e7b,NaN,518ef87f25ee44b9abfd6e7b,2013-05-12 01:55:54,public,Other
8,518ef9aa25ee44b9abfd7538,2013-05-12 02:00:52,183704,183368,for living room couch,payment,1.737832e+06,/story/518ef9aa25ee44b9abfd7538,NaN,518ef9aa25ee44b9abfd7538,2013-05-12 02:00:52,public,Other
9,5196f22625ee44b9ab2cbded,2013-05-18 03:06:43,272005,278014,Sailer hat,charge,1.786539e+06,/story/5196f22625ee44b9ab2cbded,NaN,5196f22625ee44b9ab2cbded,2013-05-18 03:06:43,public,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381603,5be8efcae1f606dc2ff6d13c,2018-11-12 03:13:14,2046893,6704622,üßü‚Äç‚ôÇÔ∏è,payment,1.387663e+09,/story/5be8efcae1f606dc2ff6d13c,NaN,5be8efcae1f606dc2ff6d13c,2018-11-12 03:13:14,public,Other
381604,5be8f3c4e1f606dc2fb4045e,2018-11-12 03:30:12,6677616,5811745,Kong,charge,NaN,NaN,NaN,5be8f3c4e1f606dc2fb4045e,2018-11-12 03:30:12,friends,Food
381605,5be8f3cce1f606dc2fb57d68,2018-11-12 03:30:20,29024238,6842200,Fg hangout foodz,charge,1.387704e+09,/story/5be8f3cce1f606dc2fb57d68,NaN,5be8f3cce1f606dc2fb57d68,2018-11-12 04:03:38,public,Other
381606,5be8f49be1f606dc2fda6b7d,2018-11-12 03:33:47,25930935,25906940,üíñüå∫üå∏üå∑@shoppoinsettia.com !!!,payment,1.387712e+09,/story/5be8f49be1f606dc2fda6b7d,NaN,5be8f49be1f606dc2fda6b7d,2018-11-12 03:41:26,public,Other
381607,5be8f931e1f606dc2fa83934,2018-11-12 03:53:21,7695446,4097732,that good good reimbursment,payment,1.387755e+09,/story/5be8f931e1f606dc2fa83934,NaN,5be8f931e1f606dc2fa83934,2018-11-12 03:53:21,public,Other
381608,5be8f953e1f606dc2fae0b50,2018-11-12 03:53:55,15474739,6704622,Phood,payment,1.387756e+09,/story/5be8f953e1f606dc2fae0b50,NaN,5be8f953e1f606dc2fae0b50,2018-11-12 03:53:55,public,Other
381609,5be8fe83e1f606dc2f887ea2,2018-11-12 04:16:03,25782745,27194869,Yerp,payment,1.387801e+09,/story/5be8fe83e1f606dc2f887ea2,NaN,5be8fe83e1f606dc2f887ea2,2018-11-12 04:16:03,public,Other
381610,5be8fea4e1f606dc2f8e0162,2018-11-12 04:16:36,25782745,15930165,det finns mycket att g√∂ra i Harvard,payment,1.387802e+09,/story/5be8fea4e1f606dc2f8e0162,NaN,5be8fea4e1f606dc2f8e0162,2018-11-12 04:16:36,public,Other
381611,5be904f0e1f606dc2f8e91a4,2018-11-12 04:43:28,597686,285567,Ur all‚Äôs food,charge,1.387879e+09,/story/5be904f0e1f606dc2f8e91a4,NaN,5be904f0e1f606dc2f8e91a4,2018-11-12 04:43:28,public,Food
381612,5be90e2fe1f606dc2fd2ae84,2018-11-12 05:22:55,27573445,8679512,üëï,payment,1.387988e+09,/story/5be90e2fe1f606dc2fd2ae84,NaN,5be90e2fe1f606dc2fd2ae84,2018-11-12 05:22:55,public,Other

In [201]:
# Show the normalized percentages
total_transactions = len(df['category'])
normalize = lambda x : x/total_transactions

pie = df['category'].value_counts().apply(normalize)
pie

Other             0.894558
Food              0.055868
Transportation    0.043898
Sex               0.004174
Drinks            0.001502
Name: category, dtype: float64